# Core MkDocs and Material Theme
mkdocs>=1.6.1
mkdocs-material>=9.7.6


# Markdown extensions and features
pymdown-extensions>=12.1
markdown>=3.10.2

# Code highlighting
Pygments>=2.14.0

# Git revision date localized plugin
mkdocs-git-revision-date-localized-plugin>=1.5.3
